In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/original_dataset.csv')

In [3]:
df

,Kod,Tanım,Öğrenci No,Bölüm,Bölüm (tanım),Skala,Not,Kayıt drm.,Dönem
0,IE 316,Engineering Economics,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Uluslararası Ticaret ve İşletmecilik,A+/-,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A-,Başarıyla tamamlandı,2013 - Bahar
...,...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,İşletme Lisans Programı,A+/-,C,Başarıyla tamamlandı,2014 - Bahar
55471,UNI 116,Turkish for International Students II,2315,MGT,İşletme Lisans Programı,A+/-,C+,Başarıyla tamamlandı,2014 - Bahar
55472,ENGR 105,Introduction to Engineering,2315,MGT,İşletme Lisans Programı,SU,IA,Başarısız tamamlandı,2014 - Bahar
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,İşletme Lisans Programı,SU,S,Başarıyla tamamlandı,2014 - Bahar
55474,ENGR 100,Computer Skills,2315,MGT,İşletme Lisans Programı,SU,S,Başarıyla tamamlandı,2014 - Bahar

In [4]:
df.rename(columns={'Kod': 'Course Code', 
                   'Tanım': 'Course Title', 
                   'Öğrenci No': 'Student Number', 
                   'Bölüm': 'Department Code', 
                   'Bölüm (tanım)': 'Course Level', 
                   'Not': 'Letter Grade', 
                   'Kayıt drm.': 'Status', 
                   'Dönem': 'Semester'},
         inplace=True)
df.drop('Skala', axis=1, inplace=True)
df.head()

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Uluslararası Ticaret ve İşletmecilik,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Endüstri Mühendisliği Lisans Programı,A-,Başarıyla tamamlandı,2013 - Bahar

### Updating Course Level
In Istanbul Sehir University, courses are numbered after their level. Therefore, we use the starting number of course code to determine their level. The following updates the course level for each course.

In [5]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    if course_code.split()[1][0] in ['1', '2', '3', '4']:
        df.iloc[row_idx, 4] = 'Undergraduate'
    elif course_code.split()[1][0] in ['5', '6']:
        df.iloc[row_idx, 4] = 'Graduate'
    else:
        df.iloc[row_idx, 4] = 'PhD'

### Updating semester names to English

In [6]:
for row_idx in df.index:
    semester_name = df.iloc[row_idx, 7].split(' - ')
    if semester_name[1] == 'Güz':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Fall'
    elif semester_name[1] == 'Bahar':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Spring'
    else:
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Summer'

### Updating Status

In [7]:
for row_idx in df.index:
    if df.iloc[row_idx, 6] == 'Başarıyla tamamlandı':
        df.iloc[row_idx, 6] = 'Successful'
    elif df.iloc[row_idx, 6] == 'Başarısız tamamlandı':
        df.iloc[row_idx, 6] = 'Unsuccessful'
    else:
        df.iloc[row_idx, 6] = 'Recorded'

### Loading up-to-date course information
The most up-to-date course information has been scraped using selenium from https://www.sehir.edu.tr/en/academics/all-programs

In [8]:
course_df = pd.read_csv('../datasets/updated_course_info.csv')
course_df

,course_id,title,credit,ects,theoritical_credit,practical_credit,course_year
0,ADP 101,Touch Typing Techniques I,2,6,1,2,1
1,ADP 102,Touch Typing Techniques II,2,6,1,2,1
2,ADP 103,Fundamental Concepts Of Law,3,5,3,0,1
3,ADP 104,Office Management And Ergonomics,3,5,3,0,1
4,ADP 105,Civil Law,3,5,3,0,1
...,...,...,...,...,...,...,...
1793,YMI 315,Arayüz Tasarımı,3,6,3,0,3
1794,YMI 317,Dijital Hikaye Anlatıcılığı,3,6,3,0,3
1795,YMI 401,Mezuniyet Projesi,4,10,3,2,4
1796,YMI 402,Mezuniyet Projesi Yapımı,4,10,3,2,4
1797,YMI 404,Yeni Medya Alanında Güncel Yaklaşımlar,3,5,3,0,4

### Updating outliers information
Some courses have been changed completely in terms of their course code and course name. Course name is being when deciding to change course information (i.e. course code, course year, ...). All courses whose information have been completely changed might not be listed here.

In [9]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    if course_code == 'UNI 113':
        df.iloc[row_idx, 1] = 'Textual Analysis and Effective Communication'
    elif course_code == 'UNI 114':
        df.iloc[row_idx, 1] = 'Textual Analysis and Academic Writing'

### Adding new feature columns to the main dataframe

In [10]:
df.insert(8, 'Theoritical', 3)
df.insert(9, 'Practical', 0)
df.insert(10, 'Course Credit', 3)
df.insert(11, 'ECTS', 5)
df.insert(12, 'Course Year', 1)

### Updating old course details

In [11]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    course_title = df.iloc[row_idx, 1]
    title_indices = list(course_df.iloc[:, 1][course_df.iloc[:, 1] == course_title].index)
    code_indices = course_df.iloc[:, 0][course_df.iloc[:, 0] == course_code].index
    for i in title_indices:
        cc_1 = course_code.split()   # old course code
        cc_2 = course_df.iloc[i, 0].split()   # new course code
        if course_title == course_df.iloc[i, 1] and 'Summer' not in course_title and cc_1[0] == cc_2[0] and cc_1[1] != cc_2[1]:
            df.iloc[row_idx, 0] = course_df.iloc[i, 0]
            df.iloc[row_idx, 8] = course_df.iloc[i, 4]
            df.iloc[row_idx, 9] = course_df.iloc[i, 5]
            df.iloc[row_idx, 10] = course_df.iloc[i, 2]
            df.iloc[row_idx, 11] = course_df.iloc[i, 3]

### Updating course year based on the first integer of course code

In [12]:
for idx in df.index:
    df.iloc[idx, 12] = df.iloc[idx, 0].split()[1][0]

### Dropping instances with a grading scale other than A, B, C, D, F

In [13]:
unweight_grades = []
for row_idx in df.index:
    if df.iloc[row_idx, 5] in ['IA', 'S', 'U', 'NP', 'TP']:
        unweight_grades.append(row_idx)        
for idx in unweight_grades:
    df.drop(idx, inplace=True)
print(len(unweight_grades), 'rows will be removed because they have unweighted grades')
df.index = range(len(df))

6128 rows will be removed because they have unweighted grades

### Dropping instances from students with less than 5 courses

In [14]:
temp = df[['Student Number', 'Letter Grade']].groupby(['Student Number'], as_index=False).count().sort_values(by=['Letter Grade'])
temp.index = range(len(temp))
c = 0
unqualified_stds = []
for i in temp.index:
    student_number = temp.iloc[i, 0]
    total_completed = temp.iloc[i, 1]
    if total_completed < 5:
        c += total_completed
        unqualified_stds.append(student_number)
        
for student_number in unqualified_stds:
    df.drop(df[df['Student Number']==student_number].index, inplace=True)

df.index = range(len(df))
print(c, ' rows will be removed when we want to eliminate students who have completed less than 5 courses.')

606  rows will be removed when we want to eliminate students who have completed less than 5 courses.

In [15]:
df.to_csv('cleaned_dataset.csv', index=False)